body {
    font-family: "Times New Roman";
}

.head {
    text-align: center;
}

.head .title {
    background-color: orange;
}

.head .image {
    height: auto;
    width: 600px;
}

.header {
    font-size: 24px;
    color: black;
    font-weight: bold;
    background-color: orange;
    text-align: center;
}

.content {
    font-size: 18px;
}

