body {
    font-family: "Times New Roman";
}

.head {
    text-align: center;
}

.head .title {
    background-color: orange;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.head .image {
    height: 500px;
    width: 742px;
    border-radius: 10px;
    border: 5px solid orange;
}

.header {
    font-size: 24px;
    color: black;
    font-weight: bold;
    background-color: orange;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.content {
    font-size: 18px;
    margin: 20px;
}

.desc {
    border: 5px solid orange;
    border-radius: 10px;
    margin: 20px;
}

.ingredients {
    border: 5px solid orange;
    border-radius: 10px;
    margin: 20px;
}


.steps {
    border: 5px solid orange;
    border-radius: 10px;
    margin: 20px;
}

