body {
    font-family: "Times New Roman";
}

.recipes {
    font-size: 24px;
    color: black;
}

.title {
    text-align: center;
    font-size: 32px;
    background-color: orange;
    color: black;
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
}


.recipes .one {
    background-color: orange;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

.recipes .two {
    background-color: orange;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

.recipes .three {
    background-color: orange;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

